<head>
	<h1>201836 </h1>
		<p>
			<img src= https://old.taltech.ee/public/u/ulikool/Tunnusgraafika/TalTech_Gradient_print.jpg width= "750" height= "600">
		<p>
			<a href= https://www.taltech.ee/itarendus> <b>Minu eriala</b> </a>
		<p>
</head>

<body>
<div class="container">
	<p>See on siis minu tagasihoidlik lehekülg. See on küll väga algeline, kuid ma väga loodan, et on piisav et punktid kätte saada. </p>
	<p>Ma oleks hea meelega midagi huvitavamat teinud, aga kahjuks on mul ka teistes ainetes tegemist. Siinkohal tasuks ka mainida et see pole esimene kord kus ma HTML’i kirjutan. </p>
	<p>Paar aastat tagasi käisin oma sõbraga  TLÜ töötoas kus õpetati algelist HTML’i ja CSS’i. Selle käigus õppisin teksti kuvama ning seda kujundama, linke sisestama, pilte lisama kui ka lehti üksteisega siduma. </p>
	<p>Pean tunnistama, et suurt midagi mul sellest meeles polnud, kuid pean seda siiski eeliseks.</p>
</div>
</body>
<p>
<table>
<thead>
  <tr>
	<th>Kursus</th>
	<th>EAP</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>IAX0010</td>
    <td>6</td>
  </tr>
  <tr>
    <td>ICY0004</td>
    <td>6</td>
  </tr>
  <tr>
    <td>ICY0019</td>
    <td>6</td>
  </tr>
  <tr>
    <td>ITI0101</td>
    <td>6</td>
  </tr>
  <tr>
    <td>ITI0102</td>
    <td>6</td>
  </tr>
</tbody>
</table>
